/* Header */
* {
    box-sizing: border-box;
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.headeradmin {
    background-color: #ff0000;
    color: #fff;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 3px;
    text-align: center;
}

.menu_admin {
    /* background-color: #ccc; */
    background: #fff;
    /* border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.menu_admin ul {
    padding: 0;
}

.menu_admin ul li {
    display: inline-block;
    padding: 0 10px;
}

.menu_admin ul li a {
    text-decoration: none;
    color: #202114;
}

.menu_admin ul li a:hover {
    color: #ff0000;
}

.home {
    text-decoration: none;
    color: #202114;
    padding-right: 10px;
}

.home:hover {
    color: #ff0000;
}

/* Main */
.mb10 {
    margin-bottom: 10px;
}

.content-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #ff0000;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.content-table td,
.content-table th {
    padding: 10px 20px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #ff0000;
}

.content-table .mota {
    max-width: 500px;
}

.formcontent input[type="submit"],
.formcontent input[type="reset"],
.formcontent input[type="button"] {
    border: 1px solid #ff0000;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: white;
}

.formcontent input[type="submit"]:hover,
.formcontent input[type="reset"]:hover,
.formcontent input[type="button"]:hover {
    background-color: #ff0000;
    color: #fff;
}

.formcontent input[type="text"],
.formcontent input[type="number"],
.formcontent input[type="email"],
.formcontent input[type="password"],
.formcontent input[type="file"] {
    width: 100%;
    border: 1px solid #ff0000;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 6px;
}

.formcontent label {
    color: #202114;
}

select {
    width: 100%;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ff0000;
    margin-top: 6px;
}

textarea {
    width: 100%;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ff0000;
    margin-top: 6px;
}

textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="file"]:focus {
    border: 2px solid #ff0000;
    color: #222;
    outline: none;
}